@import url(http://fonts.googleapis.com/css?family=Gabriela);

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: url(./images/galaxy.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Gabriela';
  color: #fff;
}

h1 {
  text-align: center;
  vertical-align: middle;
}

h2 {
  text-align: center;
  vertical-align: middle;
}

h3 {
  text-align: center;
  vertical-align: middle;
  font-size: 2.5em;
}

h4 {
  text-align: center;
  vertical-align: middle;
}

h5 {
  text-align: center;
  vertical-align: middle;
  font-size: 2.5em;
}

h6 {
  text-align: center;
  vertical-align: middle;
  font-size: 1.0em;
}

h7 {
  text-align: center;
  vertical-align: middle;
  font-size: 2.5em;
}

img {
  max-width: 20%;
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.9em;
    color: #fff;
}
a {
  display: block;
  width: 800px;
  font-size: 0.9em;
  color: #fff;
}
